.App {
  text-align: center;
  min-height: 100vh;
  background-color: #FD3E2B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  border-radius: 5px;
  
}
.card-option{
  cursor: pointer;
  border-radius: 5px;
  transition: all linear 0.2s;
  background-color: #fff;

}
.card-option:hover {
  transform: scale(1.2);
  transition: all linear 0.1s;
}

.card_sabor {
  transform: scale(1);
  transition: all linear 0.2s;
  cursor: pointer;
}
.card_sabor:hover {
  transform: scale(1.1);
  transition: all linear 0.1s;
}


.bs-wizard {margin-top: 40px;}
 

.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -9px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' ';  background-color: #fafafa; width: 14px; height: 14px; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative;  border-radius: 0px; height: 8px; padding-top: 2px; box-shadow: none; background: #fbe8aa; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none;  height: 4px; background: #fbbd19; }
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.complete > .bs-wizard-dot:after {background-color: #fbbd19;}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {background-color: #fbbd19;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step  > .progress {left: 50%; width: 100%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 0;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }